In [2]:
#Introduction Python Programming
#Introduction to Python Datatypes 
#(int,float,strings,lists[],dictionaries{},tuples(),sets{},Boolean values)
#Arithmetical Operators(+ - * /)

In [2]:
#Int datatype for Integers
a = 34
type(a)

#Float datatype
a = 3.5
type(a)

float

In [12]:
#List Datatype
lst = ['Rahul',1.5,"Tiwari",2.5] #mutable object & can be updated
type(lst)

#Tuple Datatype
tpl = ('Rahul',1.5,"Tiwari",2.5) #immutable objects, can't be updated
type(tpl)

#Dictionary Data-type Key-Value Pairs
dict = {'1':'Lucknow', '2':'Allahabad'}
type(dict)

#Set Datatype(For unique data-set)
a = [1,2,3,3,4,5,5,6]
st = set(a)
print(st)
type(st)

#Boolean Variables
a == True/False

{1, 2, 3, 4, 5, 6}

set

Mathematical Operations with Numbers - 

+ Addition
- Substraction
* Multiply
** Power of

Division - 
7/4  O/P - 1.75
7//4 O/P - 1(FLOOR DIVISION QUOTIENT)
7%4  O/P - 3 (MODULO, PROVIDES REMAINDER)

In [21]:
7%4

3

In [23]:
#Order of operations(BODMAS Rule)
(5 + 50) * 10 - 3

547

In [28]:
#DAY2 - STRINGS & OPERATIONS POSSIBLE ON STRINGS

#String in layman/common language we can say any set of words/sentence is a string. To be specific for Python Interpreter 
#anything written in Single/Double Inverted Commas is String.(No difference between '' & "").

#LEN FUNCTION: 
len('Hello World')


st = "Hello World! 123"


len(st)

16

In [35]:
#STRING INDEXING

s = 'Hello World'
s[0:3]
#s[2]

#Grab everything past the first term all the way to the length of s which is len(s)
#s[1:]

#Grab everything UP TO the 3rd index
#s[:3]

'Hel'

In [38]:
#STRING INDEXING SOME MORE EXAMPLES

s = 'Hello World'
#Grab Everything
s[:-1]

#Last letter (one index behind 0 so it loops back around)
#s[-1]

#Grab everything but the last letter
#s[:-1]

'Hello Worl'

In [46]:
#Grab everything, but go in step sizes of 2
s = 'Hello World'

#s[::-1] #most commonly asked

#We can use this to print a string backwards(REVERSE OF STRING)
#s[::-1]

#Re-assignment of s and concatenation of strings
s = s + ' concatenate me!'
print(s)

s = s + ' 123'
print(s)

Hello World concatenate me!
Hello World concatenate me! 123

In [53]:
#Concatenate by Multiplying
#letter = 'z'
#letter*10

print(s)
#BUILT IN STRING METHODS
#s.upper()

#s.lower()

#Split a string by blank space (this is the default)
#s.split()

#Split by a specific element (doesn't include the element that was split on)
s.split('o')

Hello World concatenate me! 123

['Hell', ' W', 'rld c', 'ncatenate me! 123']

In [55]:
#Print Formatting. We can use the .format() method to add formatted objects to printed string statements.

#print('Insert another string with curly brackets: {}'.format('The inserted string'))


print('Hello {0}. Welcome and All the Best for Learning {1}'.format('Learners','PYTHON'))

Hello Learners. Welcome and All the Best for Learning PYTHON

In [58]:
#Replace Method
#a = "Hello, World!"
#print(a.replace("H", "J"))

#Strip Method strips the string & removes whitespaces.
a = "   Hello, World!    "
a = a.strip()
a

'Hello, World!'

In [67]:
#To Grab UserName/User ID from given mail ID (Common Scenario asked in Interviews sometimes)
a = 'ABC_JOHNNY@gmail.com'
username = a.split('@')

#print(username[0])

print((username[0].split('_'))[0])

ABC